    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom:0" role="navigation">
        <div class="navbar-header">
            <a href="../index" class="navbar-brand">KiMo</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li ng-if="isLoggedOn()"><a class="btn btn-danger" ng-click="signOut()">Sign Out</a></li>
            
            <li ng-if="!isLoggedOn()"><a class="btn btn-primary" href="/signIn">Sign In</a></li>
            <li ng-if="!isLoggedOn()"><a class="btn btn-default" href="/signUp">Sign Up</a></li>
        </ul>
        <div class="nav-bar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                
                <ul id="side-menu" class="nav" ng-if="isLoggedOn()">
                    <li><a>Play Now </a></li>
                    <li><a>View Active Bets</a></li>
                    <li><a>View Old Bets</a></li>
                    <li><a href="/viewDraws">View Draws</a></li>
                    <li><a href="/myAccount">My Account</a></li>
                    <li><a>Buy Coins</a></li>
                </ul>
                
            </div>
        </div>
    </nav>