    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom:0" role="navigation">
        <div class="navbar-header">
            <a href="#/index" class="navbar-brand">KiMo</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-top-links navbar-right">


            <li class="dropdown">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" >
                    <span ng-hide="noNotifications()" class="badge badge-success">{{unNotifiedBets.length}}</span>
                    <i class="fa fa-envelope fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a ng-hide="noNotifications()" class="text-center" href="#/viewUnNotifiedBets" ng-click="clearAllNotifications()">
                            <strong>View all your earning bets</strong>
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </a>
                        <a ng-hide="!noNotifications()">You have none pending notifications</a>
                    </li>
                    <li ng-repeat="unNotifiedBet in unNotifiedBets" ng-click="removeNotification($index)">
                            <a href="#/viewBet/{{unNotifiedBet.betId}}/{{unNotifiedBet.draws}}">
                                <div>
                                    <strong>{{unNotifiedBet.betDateTime}}</strong>
                                    <span class="pull-right text-muted">
                                        <em>{{unNotifiedBet.returnRate * unNotifiedBet.betCoins}}</em>
                                    </span>
                                </div>
                                <div>You have {{unNotifiedBet.matches}} matches in this bet.</div>
                            </a>
                            <span class="divider"></span>
                    </li>

                </ul>
            </li>
            <!-- /.dropdown-messages -->
            <li class="dropdown">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li ng-if="isLoggedOn()"><a href="#/myAccount"><i class="fa fa-user fa-fw"></i> My Account</a>
                    </li>
                    <li ng-if="isLoggedOn()" class="divider"></li>
                    <li ng-if="isLoggedOn()"><a href="#/index" ng-click="signOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    <li ng-if="!isLoggedOn()"><a href="#/signIn"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                    <li ng-if="!isLoggedOn()"><a href="#/signUp"><i class="fa fa-plus-circle fa-fw"></i> SignUp</a>
                    <li ng-if="!isLoggedOn()"><a href="#/resetPassword"><i class="fa fa-key "></i> Reset password</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
        <div class="nav-bar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                
                <ul id="side-menu" class="nav" ng-if="isLoggedOn()">
                    <li><a href="#/playNow">Play Now </a></li>
                    <li><a href="#/viewActiveBets">View Active Bets</a></li>
                    <li><a href="#/viewOldBets">View Old Bets</a></li>
                    <li><a href="#/viewDraws">View Draws</a></li>
                    <li><a>Buy Coins</a></li>
                </ul>
            </div>
        </div>
    </nav>