    <div class="row">
        <div class="col-md-3" >
            <div class="well">
                <h2 >Next Draw At</h2>
                <h4 >{{nextDraw}}</h4>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>Last Draw {{lastDrawDate}}</h2>
                <h4><numbers ng-repeat="lastDrawNumber in lastDrawNumbers">{{lastDrawNumber}} </numbers></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h2 >Your Coins</h2>
                <h4 >{{userCoins}}</h4>
            </div>

        </div>
    </div>