    <div class="row">
        <div class="col-md-3" >
            <div class="well">
                <h2 >Next Draw At</h2>
                <h4 >{{nextDraw}}</h4>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>Last Draw {{lastDrawDate}}</h2>
                <h4><numbers ng-repeat="lastDrawNumber in lastDrawNumbers">{{lastDrawNumber}} </numbers></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h2 >Your Coins</h2>
                <h4 >{{userCoins}}</h4>
            </div>
        </div>
    </div>
    <div  style="z-index:9999;position:absolute;top:150;right:0;">
        <div ng-repeat="alert in alerts">
            <div class="alert alert-success alert-dismissable" >
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                <!--<button type="button" class="close" ng-click="removeAlert($index)">×</button>-->
                    Congratulations you have just earned in {{alert}} bets click <a href="#" class="alert-link">here</a> to view your bets.
            </div>
        </div>
    </div>