          <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Play now
                    </div>
                    <div class="panel-body">
                      <div class="col-md-offset-1">
                         <button ng-repeat="number in numbers" ng-class="checkIfSelected(number)" ng-click="clicked(number)">
                           {{number}}
                         </button>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div ng-class="repeatedDrawsGroup">
                  <label class="col-md-2 control-label"> Repeated Draws </label>
                  <div class="col-md-10">
                    <input class="form-control"  type="number" ng-change="repeatedDrawsKeyUp()" ng-click="calculateCost()" ng-model="repeatedDraws" min="1" max="20">
                    <label class="control-label">{{repeatedDrawsError}}</label>
                  </div>
                </div>
                <div ng-class="multiplierGroup">
                  <label class="col-md-2 control-label"> Multiplier </label>
                  <div class="col-md-10">
                    <input class="form-control"  type="number" ng-change="multiplierKeyUp()" ng-click="calculateCost()" ng-model="multiplier" min="1" max="20">
                    <label class="control-label">{{multiplierError}}</label>
                  </div>
                </div>
                <div ng-class="gameTypeGroup">
                  <label class="col-md-2 control-label"> Game Type </label>
                  <div class="col-md-10">
                    <input class="form-control"  type="number" ng-change="gameTypeKeyUp()" ng-click="calculateCost()" ng-model="gameType" min="1" max="12">
                    <label class="control-label">{{gameTypeError}}</label>
                  </div>
                </div>
                <div ng-class="costGroup">
                  <label class="col-md-2 control-label"> Cost </label>
                  <div class="col-md-10">
                    <input class="form-control"  type="number"  ng-model="cost" readonly>
                    <label class="control-label">{{costError}}</label>
                  </div>
                </div>
                <input type="button" class="btn btn-lg btn-block btn-primary"  value="Play Now" ng-click="play()"/>
                <div class="row" ng-style="errorMessageGroup">
                  <div class="col-md-12" >
                    <div class="bs-component">
                      <div class="alert alert-dismissable alert-danger">
                        <strong>{{errorMessage}}</strong>
                      </div>
                      <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
