          <div class="bs-docs-section">
            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{header}}
                    </div>
                    <div class="panel-body">
                      <div class="container">
                        <div class="col-md-6" style="height:75px;">
                          <div class="col-md-5">
                            <div class="form-group">
                              <div class="input-group date" id="datetimepickerfrom" >
                                <!--<label >Date From</label>-->
                                <input name="dateFrom" placeholder="Date From" class="form-control" type="text"  ng-model="dateFrom" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <div class=" input-group date" id="datetimepickerto">
                                <!--<label>Date To</label>-->
                                <input name="dateTo" placeholder="Date To" class="form-control" type="text" ng-model="dateTo" readonly>
                                <span class="input-group-addon"><i class="glyphicon  glyphicon-calendar"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <input type="button" class="btn btn-primary" value="Search" ng-click="getOldBets()"/>
                          </div>
                        </div>
                        <script type="text/javascript">
                              $('#datetimepickerfrom').datetimepicker({
                                  format: "dd-mm-yyyy hh:ii",
                                  todayBtn: true,
                                  autoclose: true
                              });
                              $('#datetimepickerto').datetimepicker({
                                  format: "dd-mm-yyyy hh:ii",
                                  todayBtn: true,
                                  autoclose: true
                              });
                        </script>
                      </div>
                      <img src="/images/lazy-loading-image.gif" ng-style="lazyLoadStyle"/>
                      <table class="table table-striped" ng-style="tableStyle">
                        <thead>
                        <tr>
                          <th>Date/Time</th>
                          <th>ID</th>
                          <th>No1</th>
                          <th>No2</th>
                          <th>No3</th>
                          <th>No4</th>
                          <th>No5</th>
                          <th>No6</th>
                          <th>No7</th>
                          <th>No8</th>
                          <th>No9</th>
                          <th>No10</th>
                          <th>No11</th>
                          <th>No12</th>
                          <th>Game Type</th>
                          <th><span class="glyphicon glyphicon-asterisk"></span></th>
                          <th><span class="glyphicon glyphicon-repeat"></span></th>
                          <th><span class="glyphicon glyphicon-ok"></span></th>
                          <th><span class="glyphicon glyphicon-euro"></span></th>
                          <th><span class="glyphicon glyphicon-plus"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bet in bets">
                          <td style="text-align: center"><a href="#/viewBet/{{bet.betId}}/{{bet.draws}}">{{bet.betDateTime.replace("T", " ").replace("Z", " ").replace(".000", " ")}}</a></td>
                          <td style="text-align: center">{{bet.betId}}/{{bet.draws}}</td>
                          <td ng-style="matched(bet.betNumber1, bet.drawNumbers)">{{bet.betNumber1}}</td>
                          <td ng-style="matched(bet.betNumber2, bet.drawNumbers)">{{bet.betNumber2}}</td>
                          <td ng-style="matched(bet.betNumber3, bet.drawNumbers)">{{bet.betNumber3}}</td>
                          <td ng-style="matched(bet.betNumber4, bet.drawNumbers)">{{bet.betNumber4}}</td>
                          <td ng-style="matched(bet.betNumber5, bet.drawNumbers)">{{bet.betNumber5}}</td>
                          <td ng-style="matched(bet.betNumber6, bet.drawNumbers)">{{bet.betNumber6}}</td>
                          <td ng-style="matched(bet.betNumber7, bet.drawNumbers)">{{bet.betNumber7}}</td>
                          <td ng-style="matched(bet.betNumber8, bet.drawNumbers)">{{bet.betNumber9}}</td>
                          <td ng-style="matched(bet.betNumber9, bet.drawNumbers)">{{bet.betNumber8}}</td>
                          <td ng-style="matched(bet.betNumber10, bet.drawNumbers)">{{bet.betNumber10}}</td>
                          <td ng-style="matched(bet.betNumber11, bet.drawNumbers)">{{bet.betNumber11}}</td>
                          <td ng-style="matched(bet.betNumber12, bet.drawNumbers)">{{bet.betNumber12}}</td>
                          <td style="text-align: center">{{bet.gameType}}</td>
                          <td style="text-align: center">{{bet.multiplier}}</td>
                          <td style="text-align: center">{{bet.repeatedDraws}}</td>
                          <td style="text-align: center">{{bet.matches}}</td>
                          <td style="text-align: right">{{bet.betCoins}}</td>
                          <td style="text-align: right">{{bet.multiplier * bet.betCoins * bet.returnRate}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <br/><br/>
                      <div class="row" ng-style="errorStyle">
                        <div class="col-md-12">
                          <div class="alert alert-danger">
                            {{errorMessage}}
                          </div>
                          <div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>