
          <div class="bs-docs-section">
            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      {{header}}
                    </div>
                    <div class="panel-body">
                      <div class="container">
                        <div class="col-md-6" style="height:75px;">
                          <div class="col-md-5">
                            <div class="form-group">
                              <div class="input-group date" id="datetimepickerfrom" >
                                <!--<label >Date From</label>-->
                                <input name="dateFrom" placeholder="Date From" class="form-control" type="text"  ng-model="dateFrom" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <div class=" input-group date" id="datetimepickerto">
                                <!--<label>Date To</label>-->
                                <input name="dateTo" placeholder="Date To" class="form-control" type="text" ng-model="dateTo" readonly>
                                <span class="input-group-addon"><i class="glyphicon  glyphicon-calendar"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <input type="button" class="btn btn-primary" value="Search" ng-click="getDraws()"/>
                          </div>
                        </div>
                        <script type="text/javascript">
                              $('#datetimepickerfrom').datetimepicker({
                                  format: "dd-mm-yyyy hh:ii",
                                  todayBtn: true,
                                  autoclose: true
                              });
                              $('#datetimepickerto').datetimepicker({
                                  format: "dd-mm-yyyy hh:ii",
                                  todayBtn: true,
                                  autoclose: true
                              });
                        </script>
                      </div>
                      <img src="/images/lazy-loading-image.gif" ng-style="lazyLoadStyle"/>
                      <table class="table table-striped" ng-style="tableStyle">
                        <thead>
                        <tr>
                          <th>Date/Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="draw in draws">
                          <td style="text-align: center">{{draw.drawDateTime.replace("T", " ").replace("Z", " ").replace(".000", "")}}</td>
                          <td style="text-align: center">{{draw.drawNumber1}}</td>
                          <td style="text-align: center">{{draw.drawNumber2}}</td>
                          <td style="text-align: center">{{draw.drawNumber3}}</td>
                          <td style="text-align: center">{{draw.drawNumber4}}</td>
                          <td style="text-align: center">{{draw.drawNumber5}}</td>
                          <td style="text-align: center">{{draw.drawNumber6}}</td>
                          <td style="text-align: center">{{draw.drawNumber7}}</td>
                          <td style="text-align: center">{{draw.drawNumber8}}</td>
                          <td style="text-align: center">{{draw.drawNumber9}}</td>
                          <td style="text-align: center">{{draw.drawNumber10}}</td>
                          <td style="text-align: center">{{draw.drawNumber11}}</td>
                          <td style="text-align: center">{{draw.drawNumber12}}</td>
                          <td style="text-align: center">{{draw.drawNumber13}}</td>
                          <td style="text-align: center">{{draw.drawNumber14}}</td>
                          <td style="text-align: center">{{draw.drawNumber15}}</td>
                          <td style="text-align: center">{{draw.drawNumber16}}</td>
                          <td style="text-align: center">{{draw.drawNumber17}}</td>
                          <td style="text-align: center">{{draw.drawNumber18}}</td>
                          <td style="text-align: center">{{draw.drawNumber19}}</td>
                          <td style="text-align: center">{{draw.drawNumber20}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <br/><br/>
                      <div class="row" ng-style="errorStyle">
                        <div class="col-md-12">
                          <div class="alert alert-danger">
                            {{errorMessage}}
                          </div>
                          <div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>